<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BQPT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="IdentityManagerDb" connectionString="Data Source=devsqlvs19;initial catalog=BCIdentity;persist security info=False;user id=BCIdentity;password=$Broward123;multipleactiveresultsets=False;connect timeout=30;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="MonitorsDb" connectionString="Data Source=devsqlvs19;Initial Catalog=BCEnterpriseMonitor;Integrated Security=False;persist security info=True;user id=BCEnterpriseMonitor;password=$Broward123;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="AppConnectionString" connectionString="Data Source=DEVSQLVS19;Initial Catalog=TransitBQP;Integrated Security=False;persist security info=True;user id=transitbqp;password=$County123;MultipleActiveResultSets=False;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="AppConnectionString_S" connectionString="Data Source=DEVSQLVS19;Initial Catalog=TransitBQP_Sprint;Integrated Security=False;persist security info=True;user id=transitbqp;password=$County123;MultipleActiveResultSets=False;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="OracleAssetWorksDb" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=rptuser;Password=rptuser;Data Source=10.10.141.24:1531/ASSETDEV" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ApplicationName" value="BQPT" />
		<add key="ADApplicationName" value="bqpt.transit" />
		<add key="ApplicationDesc" value="Transit Bid Quote Tool" />
		<add key="BUG::ContactEmail" value="sbarriosdiaz@broward.org" />
		<add key="AllowMobileView" value="true" />
		<add key="DevMode" value="true" />
		<add key="FormsAuth" value="false" />
		<add key="TenantId" value="APP-00022" />
		<add key="EIMS::ClientId" value="o2PvaEfDTvpo/deCFRWzsb4iDPf4Lg76IVeOrFm2Hz0=" />
		<add key="EIMS::ClientSecret" value="L7CIgKsXjnTcTwUue52t8VUusM1Rm5ckC3PbeJXC7OqzEIIc6wKbOaMfpGIJEvtaKfEdM2PAlj26gwWknAZb3Q==" />
		<add key="Files::Api" value="https://bcblobs.appdev.cty/api/v1" />
		<add key="Identity::Api" value="https://bcidentityservices.appdev.cty/api" />
		<add key="ReportDomain" value="Appdev" />
		<add key="ReportURL" value="http://devsqlrpt19.appdev.cty/Reports/browse/Transit-BQPT" />
		<add key="ReportURL2" value="http://devsqlrpt19.appdev.cty/Reports/report/Transit-BQPT/DeleteBidsByUsers" />
		<add key="ReportFolder" value="Transit-BQPT" />
		<add key="ReportName" value="QuoteDetails" />
		<add key="ReportUserName" value="BQPTAdmin.sa.appdev" />
		<add key="ReportPassword" value="iq4U6rs8Pi" />
		<add key ="BidQuoteExportPath" value ="C:\Dataloader\BQP_PO\PO" />
		<add key ="BidQuoteDomain" value ="BCTFileMove01.sa.bc"/>
		<add key ="BidQuoteUserName" value ="BCTFileMove01" />
		<add key ="BidQuotePass" value ="P4%QwBbV"/>
	</appSettings>
	<system.web>
		<httpCookies requireSSL="true" httpOnlyCookies="true" lockItem="true" />
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.8">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
			<assemblies>
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
		</compilation>
		<httpRuntime maxRequestLength="62428800" targetFramework="4.8" />
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<security>
			<requestFiltering>
				<!--50 MB-->
				<requestLimits maxAllowedContentLength="62428800" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="strict-transport-security" value="max-age=86400; includeSubdomains; preload" />
				<add name="X-Content-Type-Options" value="NOSNIFF" />
				<add name="Referrer-Policy" value="same-origin" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="X-UA-Compatible" value="IE=edge" />
				<add name="Feature-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; connect-src 'self'; font-src 'self'; form-action 'self'; upgrade-insecure-requests; report-to default; object-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval';" />
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="400" />
			<remove statusCode="404" />
			<remove statusCode="500" />
			<remove statusCode="403" />
			<error statusCode="400" responseMode="ExecuteURL" path="/Errors/ServerError" />
			<error statusCode="403" responseMode="ExecuteURL" path="/Errors/UnAuthorized" />
			<error statusCode="404" responseMode="ExecuteURL" path="/Errors/NotFound" />
			<error statusCode="500" responseMode="ExecuteURL" path="/Errors/ServerError" />
		</httpErrors>
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
			<mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
		</staticContent>
		<handlers>
			<add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.4.0" newVersion="5.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.DataProtection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.4.0" newVersion="5.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.DataProtection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.4.0" newVersion="5.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.WebEncoders" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.4.0" newVersion="5.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Identity.Core" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.4.0" newVersion="5.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.ObjectPool" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.4.0" newVersion="5.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<applicationSettings>
		<BQPT.Properties.Settings>
			<setting name="BQPT_ReportExecution_ReportExecutionService" serializeAs="String">
				<value>http://devsqlrpt19.appdev.cty:80/ReportServer/ReportExecution2005.asmx</value>
			</setting>
			<setting name="BQPT_ReportService_ReportingService2005" serializeAs="String">
				<value>http://devsqlrpt19.appdev.cty:80/ReportServer/ReportService2005.asmx</value>
			</setting>
			<setting name="BQPT_ReportExecution2005_ReportExecutionService" serializeAs="String">
				<value>http://devsqlrpt19.appdev.cty:80/ReportServer/ReportExecution2005.asmx</value>
			</setting>
			<setting name="BQPT_ReportService2005_ReportingService2005" serializeAs="String">
				<value>http://devsqlrpt19.appdev.cty:80/ReportServer/ReportService2005.asmx</value>
			</setting>
		</BQPT.Properties.Settings>
	</applicationSettings>
	<!--<applicationSettings>
		<BQPT.Properties.Settings>
			<setting name="BQPT_ReportExecution_ReportExecutionService" serializeAs="String">
				<value>http://mrpsqlrpt19.bctrain.cty:80/ReportServer/ReportExecution2005.asmx</value>
			</setting>
			<setting name="BQPT_ReportService_ReportingService2005" serializeAs="String">
				<value>http://mrpsqlrpt19.bctrain.cty:80/ReportServer/ReportService2005.asmx</value>
			</setting>
			<setting name="BQPT_ReportExecution2005_ReportExecutionService" serializeAs="String">
				<value>http://mrpsqlrpt19.bctrain.cty:80/ReportServer/ReportExecution2005.asmx</value>
			</setting>
			<setting name="BQPT_ReportService2005_ReportingService2005" serializeAs="String">
				<value>http://mrpsqlrpt19.bctrain.cty:80/ReportServer/ReportService2005.asmx</value>
			</setting>
		</BQPT.Properties.Settings>
	</applicationSettings>-->
	<!--<applicationSettings>
		<BQPT.Properties.Settings>
			<setting name="BQPT_ReportExecution_ReportExecutionService" serializeAs="String">
				<value>http://mrsqlrpt19.bc.broward.cty:80/ReportServer/ReportExecution2005.asmx</value>
			</setting>
			<setting name="BQPT_ReportService_ReportingService2005" serializeAs="String">
				<value>http://mrsqlrpt19.bc.broward.cty:80/ReportServer/ReportService2005.asmx</value>
			</setting>
			<setting name="BQPT_ReportExecution2005_ReportExecutionService" serializeAs="String">
				<value>http://mrsqlrpt19.bc.broward.cty:80/ReportServer/ReportExecution2005.asmx</value>
			</setting>
			<setting name="BQPT_ReportService2005_ReportingService2005" serializeAs="String">
				<value>http://mrsqlrpt19.bc.broward.cty:80/ReportServer/ReportService2005.asmx</value>
			</setting>
		</BQPT.Properties.Settings>
	</applicationSettings>-->
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
</configuration>