<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="broward-county-devops" value="https://pkgs.dev.azure.com/broward-county-devops/_packaging/broward-county-devops/nuget/v3/index.json" />
    <add key="Package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>